.timeline{
    position: relative;
}

/*Line*/
.timeline>li::before{
    content:'';
    position: absolute;
    width: 1px;
    background-color: #E7E7E7;
    top: 0px;
    bottom: -20px;
    left:-19px;
}

/*Circle*/
.timeline>li::after{
    content: ' ';
  background: $blue;
  display: inline-block;
  position: absolute;
  border-radius: 50%;
  left: -23px;
  top: 10px;
  width: 9px;
  height: 9px;
  z-index: 400;
}

/*Content*/
.timeline>li{
    counter-increment: item;
    padding: 5px 5px;
    margin-left: 0px;
    min-height:10px;
    position: relative;
    background-color: white;
    list-style: none;
}
.timeline>li:nth-last-child(1)::before{
    width: 0px;
}